<html>
 <head><title>OpenStack demo</title></head>
 <body>
 <h1>{{ demo_greeting}}</h1>
 <div align="center"><a href="http://www.openstack.org" style="text-decoration:none;color:#000000"><img src="http://c0179577.cdn1.cloudfiles.rackspacecloud.com/learn-about-openstack-badge.png" /><br /><span style="font-face:verdana,sans-serif;font-size:10px">OPENSTACK: OPEN SOURCE CLOUD SOFTWARE</span></a></div>
 </body>
</html>
